{
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "quotes": [
      1,
      "single"
    ],
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "new-cap": 0,
    "camelcase": 1,
    "no-unused-vars": 1,
    "consistent-return": 1,
    "eol-last": 0,
    "no-trailing-spaces": 0
  }
}